{% extends 'home.html' %}
{% load static %}
{% block body %}
<div class="container-fluid" style="background-color: white;height:538px;margin: 0px;PADDING: 20px">
<table cellpadding="10">
<td align="left"><p>We are a Multi grant-winning Beauty salon, situated in Hadapsar, Pune. Our great group of staff and specialists are accessible to enable you to feel good and quiet in our wonderful Beauty Salon .
Every individual from staff conveys their own abilities and identity to the beauty salon, with a well-disposed group of receptionists and advisors striving to set aside a few minutes at Indulgence is to the magnificent standard our customers anticipate from us.
Meet the executive
Namrata is the maker, proprietor, assessor, and completely qualified excellence advisor of Pink Lady Beauty Academy. She is a Therapist, Educator, and Trainer who has her own Beauty Guild licensed institute and courses.
Namrata has been maintaining her fruitful business for more than 10 years and has well as more than 15 years’ understanding as a completely qualified delight specialist.
‘Pink Lady’ and Namrata have won a few honours including:<br>
•	Salon of the year<br>
•	Retailer of the year<br>
•	Business visionary of the year
</p></td>
    <td align="right"><img src="{% static 'images/hair.png' %}"></td>
    </table>
</div>
{% endblock %}