{% extends 'home.html' %}
{% load static %}
{% block body %}
<div class="container-fluid" style="background-color: white;height:538px;margin: 0px;PADDING: 20px 30px 15px 10px">
    <table align="center" cellpadding="30" cellspacing="20">
        <td>

<h2>Book Your Appointment:</h2>
<form method="POST" novalidate>
    {% csrf_token %}
    <table>
        {% for fm in form %}
        <tr>
            <td><b>{{fm.label_tag}}</b></td>
            <td>{{fm}}</td>
            <td>{{fm.errors}}</td>
        </tr>
        {% endfor %}
    </table>
    <link src="home.html"><input type="submit"></link>
</form>
        </td>
    <td> <img src="{% static 'images/appoint.png' height='20px' width='20px' %}"></td>
        </table>
 </div>

{% endblock %}