{% extends 'home.html' %}
{% load static %}
{% block body %}
<div class="container-fluid" style="background-color: white;height:538px;margin: 0px;PADDING: 40px 50px 30px 180px">
    <table padding="50" width="100%">
        <tr>
        <td><h1>Our Location</h1><br><h2>Hadapsar</h2><br><b>Namrata Ghatge</b><br><b>Address: Pink Lady Beuty Parlour,Hadapsar</b><br><b>Contact:9145792687</b><br></td>

        <td><iframe src="https://www.google.com/maps/embed?pb=!1m23!1m12!1m3!1d60540.3346150287!2d73.91266777214145!3d18.49403318053692!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!4m8!3e6!4m0!4m5!1s0x3bc2c39f6503b3a1%3A0x4ddbbcabf824e8e1!2sSankalp&#39;%2C%20SNo-19%2C%20Pune%20Saswad%20Rd%2C%20Behind%20Rohit%20Medical%2C%20Gondhalenagar%2C%20Hadapsar%2C%20Pune%2C%20Maharashtra%20411028!3m2!1d18.4940364!2d73.94768739999999!5e0!3m2!1sen!2sin!4v1678349000503!5m2!1sen!2sin" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe></td>
        </tr>
    </table>
</div>
{% endblock %}