{% extends 'home.html' %}
{% load static %}
{% block body %}
<div class="container-fluid" style="background-color: white;height:538px;margin: 0px;PADDING: 40px 50px 30px 180px">

<table align="left" cellpadding="20" cellspacing="">
    <tr>
        <td><img src="{% static 'images/wax2.jpg' %}" height="450" width="500"></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>

        <td><ul>
            <li><h3 color="red">Mix Fruit Wax</h3></li><br>
            <li><h3 color="red">Mix Fruit Wax</h3></li><br>
            <li><h3 color="red">Mix Fruit Wax</h3></li><br>
            <li><h3 color="red">Mix Fruit Wax</h3></li><br>
            <li><h3 color="red">Mix Fruit Facial Wax</h3></li><br>
            <li><h3 color="red">Mix Fruit Facial Wax</h3></li><br>



        </ul></td>
    </tr>
</table>
</div>
{% endblock %}